@font-face {
    font-family: 'Centuma';
    src: url('Centuma.woff2') format('woff2'),
        url('Centuma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

